* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  margin: 10px 0;
}

/* Header */

header {
  background-color: #3816fd;
  padding: 20px 20px 100px 20px;
  height: 400px;
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header h4 {
  font-weight: 100;
  text-transform: uppercase;
}

header h1 {
  margin-bottom: 20px;
}

header .plans {
  border: 1px solid #ccc;
  font-size: 12px;
  border-radius: 4px;

  display: flex;
  width: 30%;
}

header .plans div:last-child {
  background-color: #fff;
  color: #333;
}

.col {
  flex: 1;
  padding: 10px;
}

/* Cards */

.cards {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.cards .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin-top: -150px;
}

.card {
  background-color: #fff;
  color: #333;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.9);
  text-align: center;
}

.card-header {
  background-color: rgb(21, 46, 190);
  letter-spacing: 1px;
  color: #fff;
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-header .price {
  font-size: 1.7rem;
  margin-top: 0;
}

.card-body {
  padding: 40px;
}

.card ul {
  margin-bottom: 30px;
}

.card ul li {
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
}

.card .btn {
  display: inline-block;
  padding: 10px 15px;
  background-color: green;
  color: #fff;
  border: none;
  font-size: 1rem;
}

/* Media queries */

@media (max-width: 768px) {
  .cards .container {
    grid-template-columns: 1fr;
  }
}
