* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  margin: 10px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Header */

header {
  background-color: #2809d7;
  padding: 20px 20px 100px 20px;
  height: 400px;
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header h4 {
  font-weight: 100;
  text-transform: uppercase;
}

header .plans {
  border: 1px solid #ccc;
  font-size: 12px;
  border-radius: 4px;

  display: flex;
  width: 30%;
}

header .plans div:last-child {
  background-color: #fff;
  color: #333;
}

.col {
  flex: 1;
  padding: 10px;
}
